@charset "utf-8";
/* CSS Document */
/*全局*/
body {
	font-family: tahoma, arial, 宋体;
	font-size: 12px;
	line-height: 12px;
	width: 1278px;
	height: 4198px;
	padding-bottom: 12px;
	margin: 0 0 0 0;
}

a{
	color: #3e3e3e;
}
a:link{
	text-decoration: none;
	
}

a:hover{
	text-decoration: underline;
	color: #ff6600;
}
b{
	width: 8px;
	height: 8px;
	font-size: 0px;
	border-width: 4px;
	border-style: solid;
	border-color: #666666 #f5f5f5 #f5f5f5;
	position: relative;
	top:-2px;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.yellow{
	color: #f60;
}
.main{
	width: 1000px;
	margin: 0 auto;
}

